{
  "rules": {
    "jest/expect-expect": ["off"],
    "jest/valid-expect": ["off"],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "jest/valid-describe-callback": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-namespace": ["off"],
    "@typescript-eslint/ban-ts-comment": ["off"]
  }
}
